# Knostic AgentMesh API — OpenAPI 3.1
# generated: 2026-07-19
# method: generated
# source: https://agentmesh.knostic.ai/api (provider-published API reference)
openapi: 3.1.0
info:
  title: Knostic AgentMesh API
  version: 1.0.0
  description: 'AgentMesh is Knostic''s reputation and threat-intelligence service for the AI agent supply
    chain. It continuously discovers, tracks and scans AI agent skills, MCP (Model Context Protocol) servers,
    and VS Code / IDE extensions for prompt injection and supply-chain threats, and exposes the resulting
    catalog and scan verdicts over a read API plus an on-demand scan API.


    Read endpoints (`/skills`, `/mcp`, `/extensions`) are served to anonymous callers at a reduced tier
    (responses carry an `X-Tier: anonymous` header); scan endpoints (`/scan/*`, `/scans`) require an API
    key minted from the AgentMesh console.'
  contact:
    name: Knostic
    url: https://www.knostic.ai/
    email: support@knostic.ai
  termsOfService: https://www.knostic.ai/terms-of-service
servers:
- url: https://agentmesh.knostic.ai/api
  description: Production
tags:
- name: skills
  description: AI agent skills (SKILL.md) discovered and scanned by AgentMesh
- name: mcp
  description: Model Context Protocol servers discovered and scanned by AgentMesh
- name: extensions
  description: VS Code / IDE marketplace extensions with risk assessment
- name: scans
  description: On-demand security scans and scan history (API key required)
security:
- bearerAuth: []
paths:
  /skills:
    get:
      operationId: listSkills
      summary: List skills
      description: Returns a paginated list of AI agent skills with scan status, stars, and metadata.
        Supports full-text search across name and description fields.
      tags:
      - skills
      responses:
        '200':
          description: Paginated array of skill summaries with scan metadata.
          content:
            application/json:
              schema:
                type: object
                properties:
                  skills:
                    type: array
                    description: Array of skill objects
                    items:
                      $ref: '#/components/schemas/SkillSummary'
                  total:
                    type: integer
                    description: Total matching skills
                  page:
                    type: integer
                    description: Current page
                  limit:
                    type: integer
                    description: Page size
              examples:
                default:
                  summary: Provider-published example
                  value:
                    skills:
                    - id: 42
                      name: browser-use
                      gitRepo: https://github.com/anthropics/browser-use
                      skillPath: SKILL.md
                      description: Browser automation skill for web agents
                      sourceUrl: https://github.com/anthropics/awesome-mcp-servers
                      stars: 1840
                      license: MIT
                      archived: false
                      latestVersionAt: '2026-01-15T09:30:00'
                      scanStatus: pass
                      latestScanAt: '2026-01-16T02:00:00'
                      contributor: hwchase17
                      fileSha256: 31795b157afee1d4441887452f6891c2b6c20538b8ed8a9b1c2d3e4f50617283
                    total: 1
                    page: 1
                    limit: 50
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    detail: missing or invalid api key
      parameters:
      - name: q
        in: query
        required: false
        description: Search query — matches against skill name and description (ILIKE)
        schema:
          type: string
      - name: sort
        in: query
        required: false
        description: Sort field
        schema:
          type: string
          enum:
          - recent
          - name
          - status
          - stars
          - scanned
          default: recent
      - name: dir
        in: query
        required: false
        description: Sort direction. Defaults to DESC for recent/stars, ASC for name
        schema:
          type: string
          enum:
          - asc
          - desc
      - name: status
        in: query
        required: false
        description: Filter by scan status
        schema:
          type: string
          enum:
          - dangerous
          - risky
          - safe
          - unscanned
      - name: source
        in: query
        required: false
        description: Filter by source URL (ILIKE match)
        schema:
          type: string
      - name: hash
        in: query
        required: false
        description: 'Filter by SHA-256 hash (64 hex characters) of the archived artifact bytes. Matches
          across versions: the artifact appears if any of its versions has this hash, even if the latest
          version was rebuilt with a different hash. The displayed row is the most recent version that
          matched. Composes with q, status, and source.'
        schema:
          type: string
      - name: page
        in: query
        required: false
        description: Page number (1-indexed)
        schema:
          type: integer
          default: 1
      - name: limit
        in: query
        required: false
        description: Results per page (1–200)
        schema:
          type: integer
          default: 50
  /skills/{skill_id}:
    get:
      operationId: getSkill
      summary: Get skill
      description: Returns full details for a single skill including version history, scan results for
        the selected version, and repository metadata.
      tags:
      - skills
      responses:
        '200':
          description: Full skill object with nested versions and scan results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: Skill ID
                  name:
                    type: string
                    description: Skill name
                  gitRepo:
                    type: string
                    description: GitHub repository URL
                  skillPath:
                    type: string
                    description: Path to SKILL.md in the repo
                  description:
                    type:
                    - string
                    - 'null'
                    description: Skill description
                  sourceUrl:
                    type:
                    - string
                    - 'null'
                    description: URL of the aggregator/source page where this skill was discovered
                  scanStatus:
                    type: string
                    description: Aggregate scan status for the selected version
                  stars:
                    type:
                    - integer
                    - 'null'
                    description: GitHub stars
                  forks:
                    type:
                    - integer
                    - 'null'
                    description: GitHub forks
                  license:
                    type:
                    - string
                    - 'null'
                    description: SPDX license identifier
                  archived:
                    type:
                    - boolean
                    - 'null'
                    description: Whether the upstream GitHub repo is archived
                  repoCreatedAt:
                    type:
                    - string
                    - 'null'
                    description: ISO-8601 timestamp when the upstream repo was created
                  lastPushedAt:
                    type:
                    - string
                    - 'null'
                    description: ISO-8601 timestamp of the last push to the upstream repo
                  contributor:
                    type:
                    - string
                    - 'null'
                    description: GitHub login of the most recent committer, or null if unknown
                  versions:
                    type: array
                    description: All tracked versions of this skill, newest first
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: Version ID — used as version_id in /skills/:id/versions/:vid
                        commitHash:
                          type: string
                          description: Git commit SHA at this version
                        commitTimestamp:
                          type:
                          - string
                          - 'null'
                          description: ISO-8601 timestamp of the commit
                        scanSummary:
                          type: string
                          description: Aggregate scan status for this version
                        fileSha256:
                          type:
                          - string
                          - 'null'
                          description: SHA-256 hash (lowercase hex) of the archived artifact at this version.
                            null until the upstream pipeline computes it.
                  scanResults:
                    type: array
                    description: Scan results for the selected version
                    items:
                      type: object
                      properties:
                        scannerName:
                          type: string
                          description: Scanner identifier (e.g. 'nova')
                        scannerVersion:
                          type: string
                          description: Version of the scanner that produced this result
                        result:
                          type: string
                          description: Scan verdict (pass, warn, fail, error)
                        details:
                          type:
                          - object
                          - 'null'
                          description: Scanner-specific output (rules matched, files scanned, etc.)
                        scannedAt:
                          type:
                          - string
                          - 'null'
                          description: ISO-8601 timestamp when the scan ran
              examples:
                default:
                  summary: Provider-published example
                  value:
                    id: 42
                    name: browser-use
                    gitRepo: https://github.com/anthropics/browser-use
                    skillPath: SKILL.md
                    description: Browser automation skill for web agents
                    sourceUrl: https://github.com/anthropics/awesome-mcp-servers
                    scanStatus: pass
                    stars: 1840
                    forks: 210
                    license: MIT
                    archived: false
                    repoCreatedAt: '2025-03-01T00:00:00'
                    lastPushedAt: '2026-01-15T09:30:00'
                    contributor: hwchase17
                    versions:
                    - id: 101
                      commitHash: a1b2c3d
                      commitTimestamp: '2026-01-15T09:30:00'
                      scanSummary: pass
                      fileSha256: 31795b157afee1d4441887452f6891c2b6c20538b8ed8a9b1c2d3e4f50617283
                    scanResults:
                    - scannerName: nova
                      scannerVersion: 1.2.0
                      result: pass
                      details:
                        rulesMatched: 0
                        rulesChecked: 47
                      scannedAt: '2026-01-16T02:00:00'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    detail: missing or invalid api key
        '404':
          description: Skill not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    detail: skill not found
      parameters:
      - name: skill_id
        in: path
        required: true
        description: Skill ID
        schema:
          type: integer
      - name: version_id
        in: query
        required: false
        description: Select a specific version for scan results. Defaults to the latest version.
        schema:
          type: integer
  /skills/{skill_id}/versions/{version_id}:
    get:
      operationId: getVersionScans
      summary: Get version scan results
      description: Returns all scan results for a specific skill version. Useful for inspecting historical
        scan data across scanner versions.
      tags:
      - skills
      responses:
        '200':
          description: Scan results for the specified version.
          content:
            application/json:
              schema:
                type: object
                properties:
                  skillId:
                    type: integer
                    description: Skill ID
                  versionId:
                    type: integer
                    description: Version ID
                  scanResults:
                    type: array
                    description: Array of scan result objects
                    items:
                      type: object
                      properties:
                        scannerName:
                          type: string
                          description: Scanner identifier (e.g. 'nova')
                        scannerVersion:
                          type: string
                          description: Version of the scanner that produced this result
                        result:
                          type: string
                          description: Scan verdict (pass, warn, fail, error)
                        details:
                          type:
                          - object
                          - 'null'
                          description: Scanner-specific output (rules matched, files scanned, etc.)
                        scannedAt:
                          type:
                          - string
                          - 'null'
                          description: ISO-8601 timestamp when the scan ran
              examples:
                default:
                  summary: Provider-published example
                  value:
                    skillId: 42
                    versionId: 101
                    scanResults:
                    - scannerName: nova
                      scannerVersion: 1.2.0
                      result: pass
                      details:
                        rulesMatched: 0
                        rulesChecked: 47
                      scannedAt: '2026-01-16T02:00:00'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    detail: missing or invalid api key
        '404':
          description: No scan results for this version
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    detail: no scan results for this version
      parameters:
      - name: skill_id
        in: path
        required: true
        description: Skill ID
        schema:
          type: integer
      - name: version_id
        in: path
        required: true
        description: Version ID
        schema:
          type: integer
  /mcp:
    get:
      operationId: listMcp
      summary: List MCP servers
      description: Returns a paginated list of MCP (Model Context Protocol) servers with scan status,
        stars, and metadata. Supports full-text search across name and description fields.
      tags:
      - mcp
      responses:
        '200':
          description: Paginated array of MCP server summaries with scan metadata.
          content:
            application/json:
              schema:
                type: object
                properties:
                  mcpServers:
                    type: array
                    description: Array of MCP server objects
                    items:
                      $ref: '#/components/schemas/McpServerSummary'
                  total:
                    type: integer
                    description: Total matching MCP servers
                  page:
                    type: integer
                    description: Current page
                  limit:
                    type: integer
                    description: Page size
              examples:
                default:
                  summary: Provider-published example
                  value:
                    mcpServers:
                    - id: 9
                      name: filesystem
                      gitRepo: https://github.com/modelcontextprotocol/servers
                      serverPath: src/filesystem
                      description: Filesystem MCP server — read/write files within an allowed directory
                      sourceUrl: https://github.com/modelcontextprotocol/servers
                      stars: 4200
                      license: MIT
                      archived: false
                      latestVersionAt: '2026-02-10T08:00:00'
                      scanStatus: pass
                      latestScanAt: '2026-02-11T01:00:00'
                      fileSha256: 8f2a7e9d1c5b4f3e6a9d2c8b7e1f4a6d3c9b8e5f2a1d7c4b9e6f3a8d2c5b1e7f
                    total: 1
                    page: 1
                    limit: 50
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    detail: missing or invalid api key
      parameters:
      - name: q
        in: query
        required: false
        description: Search query — matches against MCP server name and description (ILIKE)
        schema:
          type: string
      - name: sort
        in: query
        required: false
        description: Sort field
        schema:
          type: string
          enum:
          - recent
          - name
          - status
          - stars
          - scanned
          default: recent
      - name: dir
        in: query
        required: false
        description: Sort direction. Defaults to DESC for recent/stars, ASC for name
        schema:
          type: string
          enum:
          - asc
          - desc
      - name: status
        in: query
        required: false
        description: Filter by scan status
        schema:
          type: string
          enum:
          - dangerous
          - risky
          - safe
          - unscanned
      - name: source
        in: query
        required: false
        description: Filter by source URL (ILIKE match)
        schema:
          type: string
      - name: hash
        in: query
        required: false
        description: 'Filter by SHA-256 hash (64 hex characters) of the archived artifact bytes. Matches
          across versions: the artifact appears if any of its versions has this hash, even if the latest
          version was rebuilt with a different hash. The displayed row is the most recent version that
          matched. Composes with q, status, and source.'
        schema:
          type: string
      - name: page
        in: query
        required: false
        description: Page number (1-indexed)
        schema:
          type: integer
          default: 1
      - name: limit
        in: query
        required: false
        description: Results per page (1–200)
        schema:
          type: integer
          default: 50
  /mcp/{server_id}:
    get:
      operationId: getMcp
      summary: Get MCP server
      description: Returns full details for a single MCP server including version history, scan results
        for the selected version, and repository metadata.
      tags:
      - mcp
      responses:
        '200':
          description: Full MCP server object with nested versions and scan results.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: MCP server ID
                  name:
                    type: string
                    description: Server name
                  gitRepo:
                    type: string
                    description: GitHub repository URL
                  serverPath:
                    type: string
                    description: Path to the server within the repo
                  description:
                    type:
                    - string
                    - 'null'
                    description: Server description
                  sourceUrl:
                    type:
                    - string
                    - 'null'
                    description: URL of the aggregator/source page where this server was discovered
                  scanStatus:
                    type: string
                    description: Aggregate scan status for the selected version
                  stars:
                    type:
                    - integer
                    - 'null'
                    description: GitHub stars
                  forks:
                    type:
                    - integer
                    - 'null'
                    description: GitHub forks
                  license:
                    type:
                    - string
                    - 'null'
                    description: SPDX license identifier
                  archived:
                    type:
                    - boolean
                    - 'null'
                    description: Whether the upstream GitHub repo is archived
                  repoCreatedAt:
                    type:
                    - string
                    - 'null'
                    description: ISO-8601 timestamp when the upstream repo was created
                  lastPushedAt:
                    type:
                    - string
                    - 'null'
                    description: ISO-8601 timestamp of the last push to the upstream repo
                  versions:
                    type: array
                    description: All tracked versions of this server, newest first
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          description: Version ID — used as version_id in /mcp/:id/versions/:vid
                        commitHash:
                          type: string
                          description: Git commit SHA at this version
                        commitTimestamp:
                          type:
                          - string
                          - 'null'
                          description: ISO-8601 timestamp of the commit
                        scanSummary:
                          type: string
                          description: Aggregate scan status for this version
                        fileSha256:
                          type:
                          - string
                          - 'null'
                          description: SHA-256 hash (lowercase hex) of the archived artifact at this version.
                            null until the upstream pipeline computes it.
                  scanResults:
                    type: array
                    description: Scan results for the selected version
                    items:
                      type: object
                      properties:
                        scannerName:
                          type: string
                          description: Scanner identifier (e.g. 'nova')
                        scannerVersion:
                          type: string
                          description: Version of the scanner that produced this result
                        result:
                          type: string
                          description: Scan verdict (pass, warn, fail, error)
                        details:
                          type:
                          - object
                          - 'null'
                          description: Scanner-specific output (rules matched, files scanned, etc.)
                        scannedAt:
                          type:
                          - string
                          - 'null'
                          description: ISO-8601 timestamp when the scan ran
              examples:
                default:
                  summary: Provider-published example
                  value:
                    id: 9
                    name: filesystem
                    gitRepo: https://github.com/modelcontextprotocol/servers
                    serverPath: src/filesystem
                    description: Filesystem MCP server
                    sourceUrl: https://github.com/modelcontextprotocol/servers
                    scanStatus: pass
                    stars: 4200
                    forks: 380
                    license: MIT
                    archived: false
                    repoCreatedAt: '2025-04-01T00:00:00'
                    lastPushedAt: '2026-02-10T08:00:00'
                    versions:
                    - id: 201
                      commitHash: f4e5d6c
                      commitTimestamp: '2026-02-10T08:00:00'
                      scanSummary: pass
                      fileSha256: 8f2a7e9d1c5b4f3e6a9d2c8b7e1f4a6d3c9b8e5f2a1d7c4b9e6f3a8d2c5b1e7f
                    scanResults:
                    - scannerName: nova
                      scannerVersion: 1.2.0
                      result: pass
                      details:
                        rulesMatched: 0
                        rulesChecked: 47
                      scannedAt: '2026-02-11T01:00:00'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    detail: missing or invalid api key
        '404':
          description: MCP server not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    detail: mcp server not found
      parameters:
      - name: server_id
        in: path
        required: true
        description: MCP server ID
        schema:
          type: integer
      - name: version_id
        in: query
        required: false
        description: Select a specific version for scan results. Defaults to the latest version.
        schema:
          type: integer
  /mcp/{server_id}/versions/{version_id}:
    get:
      operationId: getMcpVersionScans
      summary: Get MCP version scan results
      description: Returns all scan results for a specific MCP server version. Useful for inspecting historical
        scan data across scanner versions.
      tags:
      - mcp
      responses:
        '200':
          description: Scan results for the specified version.
          content:
            application/json:
              schema:
                type: object
                properties:
                  serverId:
                    type: integer
                    description: MCP server ID
                  versionId:
                    type: integer
                    description: Version ID
                  scanResults:
                    type: array
                    description: Array of scan result objects
                    items:
                      type: object
                      properties:
                        scannerName:
                          type: string
                          description: Scanner identifier (e.g. 'nova')
                        scannerVersion:
                          type: string
                          description: Version of the scanner that produced this result
                        result:
                          type: string
                          description: Scan verdict (pass, warn, fail, error)
                        details:
                          type:
                          - object
                          - 'null'
                          description: Scanner-specific output (rules matched, files scanned, etc.)
                        scannedAt:
                          type:
                          - string
                          - 'null'
                          description: ISO-8601 timestamp when the scan ran
              examples:
                default:
                  summary: Provider-published example
                  value:
                    serverId: 9
                    versionId: 201
                    scanResults:
                    - scannerName: nova
                      scannerVersion: 1.2.0
                      result: pass
                      details:
                        rulesMatched: 0
                        rulesChecked: 47
                      scannedAt: '2026-02-11T01:00:00'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    detail: missing or invalid api key
        '404':
          description: No scan results for this version
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    detail: no scan results for this version
      parameters:
      - name: server_id
        in: path
        required: true
        description: MCP server ID
        schema:
          type: integer
      - name: version_id
        in: path
        required: true
        description: Version ID
        schema:
          type: integer
  /extensions:
    get:
      operationId: listExtensions
      summary: List extensions
      description: Returns a paginated list of VSCode/IDE extensions with risk assessment data. Supports
        search across name, description, and publisher.
      tags:
      - extensions
      responses:
        '200':
          description: Paginated array of extension summaries with risk metadata.
          content:
            application/json:
              schema:
                type: object
                properties:
                  extensions:
                    type: array
                    description: Array of extension objects
                    items:
                      $ref: '#/components/schemas/ExtensionSummary'
                  total:
                    type: integer
                    description: Total matching extensions
                  page:
                    type: integer
                    description: Current page
                  limit:
                    type: integer
                    description: Page size
              examples:
                default:
                  summary: Provider-published example
                  value:
                    extensions:
                    - id: 7
                      extensionId: ms-python.python
                      publisher: ms-python
                      name: python
                      displayName: Python
                      version: 2026.1.0
                      installCount: 98200000
                      rating: 4.6
                      marketplace: vscode
                      description: IntelliSense, linting, debugging for Python
                      lastUpdated: '2026-01-20T00:00:00'
                      riskStatus: pass
                      riskLevel: safe
                      riskReasons: null
                      verified: true
                      downloadUrl: https://marketplace.visualstudio.com/...
                      latestScanTimestamp: '2026-01-21T04:00:00'
                      fileSha256: c3a8f1d6e4b9c2a7f5d8e3b6a1c4f7d2e5b8a3c6f9d2e5b8a1c4f7d3e6b9a2c5
                    total: 1
                    page: 1
                    limit: 50
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    detail: missing or invalid api key
      parameters:
      - name: q
        in: query
        required: false
        description: Search query — matches name, description, and publisher
        schema:
          type: string
      - name: sort
        in: query
        required: false
        description: Sort field
        schema:
          type: string
          enum:
          - recent
          - name
          - stars
          - status
          - rating
          - scanned
          - market
          default: recent
      - name: dir
        in: query
        required: false
        description: Sort direction
        schema:
          type: string
          enum:
          - asc
          - desc
      - name: status
        in: query
        required: false
        description: Filter by risk status
        schema:
          type: string
          enum:
          - unscanned
          - safe
          - risky
          - dangerous
      - name: marketplace
        in: query
        required: false
        description: Filter by marketplace (e.g. 'vscode', 'open-vsx')
        schema:
          type: string
      - name: hash
        in: query
        required: false
        description: 'Filter by SHA-256 hash (64 hex characters) of the archived extension VSIX bytes.
          Returns extensions whose fileSha256 matches. Note: extensions don''t currently have a multi-version
          dedup wrapper, so this matches any row whose hash equals the input. Composes with q, status,
          and marketplace.'
        schema:
          type: string
      - name: page
        in: query
        required: false
        description: Page number
        schema:
          type: integer
          default: 1
      - name: limit
        in: query
        required: false
        description: Results per page (1–200)
        schema:
          type: integer
          default: 50
  /extensions/{ext_id}:
    get:
      operationId: getExtension
      summary: Get extension
      description: Returns full details for a single extension including risk level, evidence snippets,
        scan timestamps, and download URL.
      tags:
      - extensions
      responses:
        '200':
          description: Full extension object with risk analysis details.
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                    description: Extension ID
                  extensionId:
                    type: string
                    description: Marketplace extension identifier
                  extensionHash:
                    type: string
                    description: Stable hash of the extension's marketplace identity
                  publisher:
                    type: string
                    description: Publisher name
                  name:
                    type: string
                    description: Extension name
                  displayName:
                    type: string
                    description: Display name
                  version:
                    type: string
                    description: Current version
                  installCount:
                    type: integer
                    description: Total installs
                  rating:
                    type:
                    - number
                    - 'null'
                    description: Average marketplace rating
                  reviewCount:
                    type: integer
                    description: Number of marketplace reviews
                  marketplace:
                    type: string
                    description: Marketplace identifier (e.g. 'vscode', 'open-vsx')
                  description:
                    type:
                    - string
                    - 'null'
                    description: Extension description
                  lastUpdated:
                    type:
                    - string
                    - 'null'
                    description: ISO-8601 timestamp of the last marketplace update
                  verified:
                    type: boolean
                    description: Whether the publisher is marketplace-verified
                  downloadUrl:
                    type: string
                    description: Marketplace download URL
                  riskStatus:
                    type: string
                    description: Normalized risk status (pass/warn/fail/gray)
                  riskLevel:
                    type:
                    - string
                    - 'null'
                    description: Raw risk level (safe/low/medium/high/critical)
                  riskReasons:
                    type:
                    - array
                    - 'null'
                    description: List of risk reason strings
                    items:
                      type: string
                  riskEvidence:
                    type:
                    - array
                    - 'null'
                    description: Code snippets and file paths that triggered risk flags
                    items:
                      type: object
                      properties:
                        snippet:
                          type: string
                          description: Code excerpt that matched a risk pattern
                        file_path:
                          type: string
                          description: Relative path of the file inside the extension archive
                        severity:
                          type: string
                          description: Per-finding severity (when the scanner provides one)
                        finding_type:
                          type: string
                          description: Category of finding (when the scanner classifies one)
                  riskSource:
                    type:
                    - string
                    - 'null'
                    description: Which scanner produced the risk verdict (e.g. 'rag', 'agent')
                  agentScanTimestamp:
                    type:
                    - string
                    - 'null'
                    description: ISO-8601 timestamp of the most recent agent scan
                  ragScanTimestamp:
                    type:
                    - string
                    - 'null'
                    description: ISO-8601 timestamp of the most recent RAG scan
                  fileSha256:
                    type:
                    - string
                    - 'null'
                    description: SHA-256 hash (lowercase hex) of the archived extension artifact. null
                      until the upstream pipeline computes it.
              examples:
                default:
                  summary: Provider-published example
                  value:
                    id: 7
                    extensionId: ms-python.python
                    extensionHash: abc123def456
                    publisher: ms-python
                    name: python
                    displayName: Python
                    version: 2026.1.0
                    installCount: 98200000
                    rating: 4.6
                    reviewCount: 450
                    marketplace: vscode
                    description: IntelliSense, linting, debugging for Python
                    lastUpdated: '2026-01-20T00:00:00'
                    verified: true
                    downloadUrl: https://marketplace.visualstudio.com/...
                    riskStatus: pass
                    riskLevel: safe
                    riskReasons: null
                    riskEvidence: null
                    riskSource: rag
                    agentScanTimestamp: '2026-01-21T04:00:00'
                    ragScanTimestamp: '2026-01-21T04:00:00'
                    fileSha256: c3a8f1d6e4b9c2a7f5d8e3b6a1c4f7d2e5b8a3c6f9d2e5b8a1c4f7d3e6b9a2c5
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    detail: missing or invalid api key
        '404':
          description: Extension not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    detail: extension not found
      parameters:
      - name: ext_id
        in: path
        required: true
        description: Extension ID
        schema:
          type: integer
  /scan/skill/{slug}:
    post:
      operationId: scanSkill
      summary: Scan skill
      description: Trigger an on-demand security scan for a skill. The slug format is owner:repo for root-level
        skills or owner:repo:skill_name for nested skills. Returns immediately with a scan ID — poll GET
        /scans/:scan_id for results. Rate limited to 30 scans/day per API key.
      tags:
      - scans
      responses:
        '200':
          description: Scan job accepted with queue position and time estimate.
          content:
            application/json:
              schema:
                type: object
                properties:
                  scan_id:
                    type: integer
                    description: Unique scan ID for polling
                  status:
                    type: string
                    description: Initial status (pending)
                  position_in_queue:
                    type: integer
                    description: Position in the scan queue
                  estimated_seconds:
                    type: integer
                    description: Estimated time until completion
              examples:
                default:
                  summary: Provider-published example
                  value:
                    scan_id: 1
                    status: pending
                    position_in_queue: 1
                    estimated_seconds: 30
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    detail: missing or invalid api key
        '404':
          description: Skill not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    detail: skill not found
        '429':
          description: Daily scan limit exceeded (30/day)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    detail: daily scan limit exceeded (30/day)
        '503':
          description: Scan queue is full, try again later
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    detail: scan queue is full, try again later
      parameters:
      - name: slug
        in: path
        required: true
        description: Skill slug — e.g. anthropics:skills or anthropics:skills:algorithmic-art
        schema:
          type: string
      security:
      - bearerAuth: []
      x-requires-api-key: true
  /scan/extension/{slug}:
    post:
      operationId: scanExtension
      summary: Scan extension
      description: Trigger an on-demand security scan for a VS Code/IDE extension. The slug format is
        marketplace:extension_id (e.g. vscode:ms-python.python). Returns immediately — poll GET /scans/:scan_id
        for results. Rate limited to 30 scans/day per API key.
      tags:
      - scans
      responses:
        '200':
          description: Scan job accepted with queue position and time estimate.
          content:
            application/json:
              schema:
                type: object
                properties:
                  scan_id:
                    type: integer
                    description: Unique scan ID for polling
                  status:
                    type: string
                    description: Initial status (pending)
                  position_in_queue:
                    type: integer
                    description: Position in the scan queue
                  estimated_seconds:
                    type: integer
                    description: Estimated time until completion
              examples:
                default:
                  summary: Provider-published example
                  value:
                    scan_id: 2
                    status: pending
                    position_in_queue: 1
                    estimated_seconds: 60
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    detail: missing or invalid api key
        '404':
          description: Extension not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    detail: extension not found
        '429':
          description: Daily scan limit exceeded (30/day)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    detail: daily scan limit exceeded (30/day)
        '503':
          description: Scan queue is full, try again later
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    detail: scan queue is full, try again later
      parameters:
      - name: slug
        in: path
        required: true
        description: Extension slug — e.g. vscode:ms-python.python
        schema:
          type: string
      security:
      - bearerAuth: []
      x-requires-api-key: true
  /scans:
    get:
      operationId: listScans
      summary: List scans
      description: Returns your adhoc scan history, ordered by most recent first. Shows status, result,
        and timestamps for each scan. Response includes X-Scan-Limit-Remaining header with remaining daily
        scan credits.
      tags:
      - scans
      responses:
        '200':
          description: Paginated array of scan records.
          content:
            application/json:
              schema:
                type: object
                properties:
                  scans:
                    type: array
                    description: Array of scan objects
                    items:
                      $ref: '#/components/schemas/Scan'
                  total:
                    type: integer
                    description: Total scans for this API key
                  page:
                    type: integer
                    description: Current page
                  limit:
                    type: integer
                    description: Page size
              examples:
                default:
                  summary: Provider-published example
                  value:
                    scans:
                    - scan_id: 1
                      scan_type: skill
                      target:
                        git_repo: anthropics/skills
                        skill_path: SKILL.md
                        commit_hash: a1b2c3d
                      status: completed
                      result: pass
                      error: null
                      created_at: '2026-03-05T10:00:00+00:00'
                      started_at: '2026-03-05T10:00:01+00:00'
                      completed_at: '2026-03-05T10:00:12+00:00'
                    total: 1
                    page: 1
                    limit: 20
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    detail: missing or invalid api key
      parameters:
      - name: page
        in: query
        required: false
        description: Page number
        schema:
          type: integer
          default: 1
      - name: limit
        in: query
        required: false
        description: Results per page (1–100)
        schema:
          type: integer
          default: 20
      security:
      - bearerAuth: []
      x-requires-api-key: true
  /scans/{scan_id}:
    get:
      operationId: getScan
      summary: Get scan result
      description: Poll for the result of an adhoc scan. When pending, returns queue position and time
        estimate. When completed, returns the scan result and details. You can only access scans created
        with your own API key.
      tags:
      - scans
      responses:
        '200':
          description: Scan status with result details when completed.
          content:
            application/json:
              schema:
                type: object
                properties:
                  scan_id:
                    type: integer
                    description: Scan ID
                  scan_type:
                    type: string
                    description: skill or extension
                  target:
                    type: object
                    description: What was scanned (repo, path, etc.)
                  status:
                    type: string
                    description: pending, running, completed, or failed
                  result:
                    type:
                    - string
                    - 'null'
                    description: Scan result (pass/warn/fail for skills, safe/low/medium/high/critical
                      for extensions)
                  details:
                    type:
                    - object
                    - 'null'
                    description: Full scan output (matches, files scanned, etc.)
                  error:
                    type:
                    - string
                    - 'null'
                    description: Error message if scan failed
              examples:
                default:
                  summary: Provider-published example
                  value:
                    scan_id: 1
                    scan_type: skill
                    target:
                      git_repo: anthropics/skills
                      skill_path: SKILL.md
                      commit_hash: a1b2c3d
                    status: completed
                    result: pass
                    details:
                      matches: []
                      files_scanned: 3
                    completed_at: '2026-03-05T10:00:12+00:00'
        '401':
          description: Missing or invalid API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    detail: missing or invalid api key
        '403':
          description: Scan belongs to a different API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    detail: scan belongs to a different api key
        '404':
          description: Scan not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                default:
                  value:
                    detail: scan not found
      parameters:
      - name: scan_id
        in: path
        required: true
        description: Scan ID returned from POST /scan/*
        schema:
          type: integer
      security:
      - bearerAuth: []
      x-requires-api-key: true
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: 'AgentMesh API key issued from the console (POST /api/console/keys), sent as `Authorization:
        Bearer <api_key>`. Read endpoints also serve anonymous callers at a reduced tier.'
  schemas:
    Error:
      type: object
      description: AgentMesh error envelope.
      properties:
        detail:
          type: string
          description: Human-readable error message
    ScanResult:
      type: object
      properties:
        scannerName:
          type: string
          description: Scanner identifier (e.g. 'nova')
        scannerVersion:
          type: string
          description: Version of the scanner that produced this result
        result:
          type: string
          description: Scan verdict (pass, warn, fail, error)
        details:
          type:
          - object
          - 'null'
          description: Scanner-specific output
        scannedAt:
          type:
          - string
          - 'null'
          description: ISO-8601 timestamp when the scan ran
    Version:
      type: object
      properties:
        id:
          type: integer
          description: Version ID
        commitHash:
          type: string
          description: Git commit SHA at this version
        commitTimestamp:
          type:
          - string
          - 'null'
          description: ISO-8601 timestamp of the commit
        scanSummary:
          type: string
          description: Aggregate scan status for this version
        fileSha256:
          type:
          - string
          - 'null'
          description: SHA-256 of the archived artifact at this version
    SkillSummary:
      type: object
      properties:
        id:
          type: integer
          description: Skill ID
        name:
          type: string
          description: Skill name
        gitRepo:
          type: string
          description: GitHub repository URL
        skillPath:
          type: string
          description: Path to SKILL.md in the repo
        description:
          type: string
          description: Skill description
        sourceUrl:
          type: string
          description: URL of the aggregator/source page where this skill was discovered
        stars:
          type: integer
          description: GitHub stars
        license:
          type: string
          description: SPDX license identifier
        archived:
          type: boolean
          description: Whether the upstream GitHub repo is archived
        latestVersionAt:
          type: string
        scanStatus:
          type: string
          description: Aggregate scan status for the selected version
        latestScanAt:
          type: string
        contributor:
          type: string
          description: GitHub login of the most recent committer, or null if unknown
        fileSha256:
          type: string
          description: SHA-256 hash (lowercase hex) of the archived extension artifact. null until the
            upstream pipeline computes it.
    McpServerSummary:
      type: object
      properties:
        id:
          type: integer
          description: Skill ID
        name:
          type: string
          description: Skill name
        gitRepo:
          type: string
          description: GitHub repository URL
        serverPath:
          type: string
          description: Path to the server within the repo
        description:
          type: string
          description: Skill description
        sourceUrl:
          type: string
          description: URL of the aggregator/source page where this skill was discovered
        stars:
          type: integer
          description: GitHub stars
        license:
          type: string
          description: SPDX license identifier
        archived:
          type: boolean
          description: Whether the upstream GitHub repo is archived
        latestVersionAt:
          type: string
        scanStatus:
          type: string
          description: Aggregate scan status for the selected version
        latestScanAt:
          type: string
        fileSha256:
          type: string
          description: SHA-256 hash (lowercase hex) of the archived extension artifact. null until the
            upstream pipeline computes it.
    ExtensionSummary:
      type: object
      properties:
        id:
          type: integer
          description: Skill ID
        extensionId:
          type: string
          description: Marketplace extension identifier
        publisher:
          type: string
          description: Publisher name
        name:
          type: string
          description: Skill name
        displayName:
          type: string
          description: Display name
        version:
          type: string
          description: Current version
        installCount:
          type: integer
          description: Total installs
        rating:
          type: number
          description: Average marketplace rating
        marketplace:
          type: string
          description: Marketplace identifier (e.g. 'vscode', 'open-vsx')
        description:
          type: string
          description: Skill description
        lastUpdated:
          type: string
          description: ISO-8601 timestamp of the last marketplace update
        riskStatus:
          type: string
          description: Normalized risk status (pass/warn/fail/gray)
        riskLevel:
          type: string
          description: Raw risk level (safe/low/medium/high/critical)
        riskReasons:
          type:
          - string
          - 'null'
          description: List of risk reason strings
        verified:
          type: boolean
          description: Whether the publisher is marketplace-verified
        downloadUrl:
          type: string
          description: Marketplace download URL
        latestScanTimestamp:
          type: string
        fileSha256:
          type: string
          description: SHA-256 hash (lowercase hex) of the archived extension artifact. null until the
            upstream pipeline computes it.
